:root {
    --accent: #17B890;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: rgba(0,0,0,0.85);
  color: white;
}

.row{
    position: absolute;
    left: 2rem;
    width: 95%;
    height: 85vh;
}

.row > .col{
    border: 1px solid black;
}

.chat-container {
    position: relative;
    padding: .5rem;
}

.chat-history{
    border-right: 1px solid black;
}

.chat-history h4{
    text-align: center;
    margin: 1.5rem 0;
}

.controls {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}


.controls div{
    display: flex;
    flex-grow: 1;
}

.controls input{
    background: black;
    border: none;
    color: white;
}

.controls input:focus{
    background: black;
    color: var(--accent);
}

.controls button {


    background: black;
    border-color: black;
    color: var(--accent);
}

.controls button:is(:hover,:focus) {
    background: var(--accent);
    color: black;
    border: 1px solid var(--accent);
}

.dx-datagrid{
    background-color: unset
}

.messageBubble{
    padding: 1rem;
    margin-bottom: .5rem;
}

.messageBubble[data-role="assistant"] {
    background: var(--accent);
    color: white;
    border-radius: 15px 15px 15px 0;
}

.messageBubble[data-role="User"] {
    background: rgba(0,0,0,1);
    color: white;
    border-radius: 15px 15px 0 15px;
}

.historyItem{
    background: black;
    color: white;
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: 15px;
    cursor: pointer;
    text-transform: capitalize;
}


.historyItem.active{
    background: var(--accent);
    color: black;
}


.historyItem:not(.active):hover {
    color: var(--accent);
}
