@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="row">
		<div class="col col-2 chat-history">
			<h4>Chat History</h4>
        </div>
		<div class="col chat-container">
            <div class="chat">
                @(
                    Html.DevExtreme().List()
                    .DataSource(d => d
                        .Mvc()
                        .Controller("ChatWebApi")
                        .LoadAction("Get")
                    ).NoDataText("Start Chatting")
                )
            </div>
			<div class="controls">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="msgBox" placeholder="Enter Message">
                    </div>
                    <button type="button" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
	</div>
</div>





@*<div class="controls">
    @using (Html.BeginForm("GetResponse", "ChatWebApi", FormMethod.Post))
    {

        <div class="msgBox">
            @(
                Html.DevExtreme().Form<Message>()
                .Items(items =>
                {
                    items.AddSimpleFor(_ => _.content)
                    .Label(_ => _.Visible(false))
                    .Editor(_ => _
                    .TextBox()
                    .Placeholder("Enter Message")
                    .Width("100%")
                    .OnEnterKey("test")
                    );
                })
                )
        </div>
        <div class="btnBox">
            <button class="btn btn-success mt-5" type="submit" style="">Send</button>
        </div>
    }
</div>*@



@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@

<script>
    $(document).ready(function () {
        $('.btn').click(function () {

            var input = $('#msgBox').val();

            $.ajax({
                url: '/ChatWebApi/SendRequest',
                type: 'POST',
                data: {
                    "message": input
                },
                success: function (response) {
                    // Handle the response from the API if needed
                    console.log(response);
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle any errors that occur during the AJAX request
                    console.log('Error: ' + errorThrown);
                }
            });
        });
    });
</script>
