@{
    ViewData["Title"] = "Home Page";
}

@model Message

<div class="container">
	<div class="row">
		<div class="col col-2 chat-history">
			<h4>Chat History</h4>
        </div>
		<div class="col chat-container">
            <div class="chat">
                @(
                    Html.DevExtreme().List()
                    .DataSource(d => d
                    .Mvc()
                    .Controller("ChatWebApi")
                    .LoadAction("Get")
                    ).NoDataText("Start Chatting")
                    )

                @(
                    Html.DevExtreme().DataGrid<Message>()

                        .NoDataText("Start Chatting")
                )
            </div>
			<div class="controls">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="msgBox" placeholder="Enter Message">
                    </div>
                    <button type="button" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
	</div>
</div>

@section Scripts{
	<script src="~/js/site.js"></script>
}
